*{
    margin: 0;
    padding: 0;
}

#root{
    float: left;
    width: 100vw;
}

header.header{
    float: left;
    width: 100%;
    background: rgba(0,0,0,0.5);
    height: 60px;
}

section.content-body{
    float: left;
    width: 100%;
    height: calc(100vh - 120px);
    background: rgba(0,0,0,0.4);
}

footer.footer-wrapper{
    background: rgba(0,0,0,0.5);
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 60px;
}

.columns{
    float: left;
    width: 50%;
}

.columns{
    float: left;
    width: 50%;
}


